'.source.ocaml':
  'editor':
    'commentStart': '(* '
    'commentEnd': ' *)'
    'increaseIndentPattern': '^.*(\\([^)"\\n]*|begin)$|\\bobject\\s*$|\\blet [a-zA-Z0-9_-]+( [^ ]+)+ =\\s*$|method[ \\t]+.*=[ \\t]*$|->[ \\t]*$|\\b(for|while)[ \\t]+.*[ \\t]+do[ \\t]*$|(\\btry$|\\bif\\s+.*\\sthen$|\\belse|[:=]\\s*sig|=\\s*struct)\\s*$'
    'decreaseIndentPattern': '^\\s*(end|done|with|in|else)\\b|^\\s*;;|^[^\\("]*\\)'

'.source.ocamllex':
  'editor':
    'commentStart': '(* '
    'commentEnd': ' *)'
